@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", sans-serif;
  outline: none;
}

body {
  background: linear-gradient(to bottom, #0924249f 0%, #000d0ff8 100%),
    url("./assets/background.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  backdrop-filter: saturate(80%);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
}

.main-container {
  display: flex;
  padding: 1rem 0 0.7rem;
  width: 350px;
  height: 470px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, #27353fd3 0%, #12181fd3 100%);
  border-radius: 0.5rem;
  border: 1px solid #aabbbb59;
  box-shadow: 0px 0px 10px #000000cb;
  backdrop-filter: blur(5px);
}

.input-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: #fefefe;
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 0px 0px 2px #000000;
  margin-bottom: 0.19rem;
  width: 98%;
}

select,
input {
  width: 98%;
  margin-bottom: 0.5rem;
  padding: 0.41rem 0.6rem 0.4rem 1.5rem;
  background: #132231 url("./assets/dinheiro.png");
  background-position: 6.5px;
  background-size: 17px;
  background-repeat: no-repeat;
  color: #dedede;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid #aabbbb;
  cursor: pointer;
  box-shadow: 0px 0px 3px #00000083;
}

select {
  background: #132231;
  padding-left: 0.4rem;
}

input {
  padding: 0.45rem 0.6rem 0.5rem 1.8rem;
  cursor: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select:focus,
input:focus {
  border: 1px solid #00bfbf;
}

.convert-button:focus {
  border: none;
}

input::placeholder {
  color: #dedede;
}

.convert-button {
  margin-top: 1rem;
  padding: 0.6rem;
  background: #dddddd;
  color: #132231;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 0px 0px 3px #00000083;
  cursor: pointer;
  transition: 0.1s;
}

.convert-button:hover {
  opacity: 0.9;
}

.convert-button:active {
  opacity: 0.7;
}

.main-box {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flag-img {
  width: 3.5rem;
  margin-bottom: 3px;
  border-radius: 50%;
  box-shadow: 1px 4px 5px #00000083;
}

.switch-box {
  margin: 2rem 0;
  height: 2rem;
  cursor: pointer;
  opacity: 0.7;
}

.switch-box:hover {
  opacity: 1;
}

.switch-box:active {
  opacity: 0.7;
}

.arrow-img {
  width: 1.9rem;
}

h2 {
  color: #fefefe;
  font-size: 1.45rem;
  text-shadow: 0px 0px 7px #0000008f;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #eeeeee;
  text-shadow: 1px 1px 5px #000000;
}

.from-box,
.to-box {
  padding: 15px 0 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.bid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #888888;
}

.current-bid,
.current-bid2 {
  font-size: 0.85rem;
}

footer {
  text-align: center;
  padding: 1.5rem 0 1rem;
}

h4 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.3rem;
  font-size: 1.11rem;
  color: #eeeeee;
  font-weight: 400;
  text-shadow: 1px 1px 10px #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

a:active {
  opacity: 0.5;
}